/* general classes  */

.noBullet {
  list-style: none;
}

.noPadding {
  padding: 0;
}

.noBorderCustomCard {
  border: none;
}

.blackText {
  color: #000000;
}

.blueText {
  color: #65afff;
}

.onePointFiveRem {
  font-size: 1.5rem;
}

.lightGreyText {
  color: #778899;
}

.zeroPointEightRem {
  font-size: 0.8rem;
}

.displayLineBreaks {
  white-space: pre-line;
}

/* Remove background colors on accordion  */

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
  background-color: transparent;
}

/* Remove blue outline and box shadow from Bootstrap form elements */

.form-control:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
  border-color: #ccc;
}
